button {
    margin-right: 10px;
    border: solid 1px transparent;
    border-radius: 4px;
}

.card {
    width: 400px;
    color: black;
}

.card-container {
    margin-left: 34rem;
    margin-right: 34rem;
}
.card-image {
    height: 30rem;
    width: 100%;
}

.input-fields {
    width: 70%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 1.25rem;
}

.user-details {
    text-align: start;
}

.col-sm-8 {
    padding-left: 0;
    padding-right: 0;
}

.alert-heading {
    font-size: 1rem;
}

.alert {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.button-section {
    display: flex;
    justify-content: center;
}
